<%- include('../partials/header.ejs')%>
<div class="form-container">
  <h1>Manage View</h1>
  <table>
    <tr>
      <th>Offer trade</th>
      <th>Your trade</th>
    </tr>
    <tr>
      <td> <a href="/trades/<%= offer[0].id%>"> <%= offer[0].title%></a> </td>
      <td> <%= offer[0].offerName%></td> </a>
    </tr>
  </table>
  <div >
    <form action="/trades/<%= offer[0].id%>/accept" method="get">
    <button class="trade-btn" type="submit">Accept</button>
  </form>
  <form action="/trades/<%= offer[0].id%>/reject" method="get">
    <button class="trade-btn" type="submit">Reject</button>
  </form>
</div>
</div>
<%- include('../partials/footer.ejs')%>
